<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>0</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>0</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>scntool</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Warning: Copy failed file:///Users/park_yeongyu/Library/Developer/Xcode/DerivedData/WorkoutDemo-feqzhcvfbigcdpfdhstzbqwhnbux/Build/Products/Debug-iphoneos/Fitness%20Sport.app/Models.scnassets/WorkoutModel/BicycleCrunch.dae -&gt; file:///Users/park_yeongyu/Library/Developer/Xcode/DerivedData/WorkoutDemo-feqzhcvfbigcdpfdhstzbqwhnbux/Build/Products/Debug-iphoneos/Fitness%20Sport.app/Models.scnassets/WorkoutModel/BicycleCrunch.dae error:Error Domain=NSCocoaErrorDomain Code=516 "“BicycleCrunch.dae” couldn’t be copied to “WorkoutModel” because an item with the same name already exists." UserInfo={NSSourceFilePathErrorKey=/Users/park_yeongyu/Library/Developer/Xcode/DerivedData/WorkoutDemo-feqzhcvfbigcdpfdhstzbqwhnbux/Build/Products/Debug-iphoneos/Fitness Sport.app/Models.scnassets/WorkoutModel/BicycleCrunch.dae, NSUserStringVariant=(</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WorkoutDemo/Assets/Models.scnassets/WorkoutModel/Burpee.dae</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>720826509</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WorkoutDemo/Storyboard/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Views without any layout constraints may clip their content or overlap other views.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
